.env
.env.*
venv/
env/
.venv/
**/venv/
**/env/
**/.venv/
**/.env
**/.env.*
YOLO/
**/YOLO/
**/yolo/
lib/
Lib/
**/lib/
**/Lib/
**/site-packages/
node_modules/
**/node_modules/
dist/
**/dist/
__pycache__/
**/__pycache__/
*.pyc
backend/models/yolo_weights/best.pt

# Embedded / Arduino
embedded/esp32_node/build/
embedded/esp32_cam/build/
*.elf
*.bin
*.map

# Mosquitto data
mosquitto/data/
mosquitto/log/

# PDF text extraction temp file
main_pdf_text.txt
